*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
}

#top{
    width: 100%;
    height: 60%;
    background-image: url(https://media.istockphoto.com/id/1273573483/photo/morning-near-newfound-gap.jpg?s=1024x1024&w=is&k=20&c=wCm9kXsgkzYisSCEDmbQIq7s6pB5NRtlxG4q9ONfFpw=);
    background-size: cover;
    background-position: 60% 30%;
}

#overlay{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
}

#text{
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 20%;
    width: 100%;
    padding: 0 10vw;
}
#text h1{
    font-weight: 500px;
    font-size: 5vw;
    color: white;
}
#textright{
    width: 60%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
#textright p {
    font-size: 12px;
    width: 35%;
    color: white;
}

#bottom{
    display: flex;
    width: 100%;
    height: 40%;
    /* background-color: rgb(37, 4, 80); */
}

#bone{
    padding: 30px;
    width: 25%;
    height: 100%;
    background-color: white;
}
#bone p{
    font-size: 12px;
    margin-top: 20px;
}
#btwo{
    width: 25%;
    min-height: inherit;
    background-image: url(https://cdn.shopify.com/s/files/1/0965/8362/files/skydive_lost_prairie_480x480.jpg?v=1653579539);
    background-size: cover;
    background-position: center;
}
#bthree{
    width: 20%;
    height: 100%;
    /* background-color: rgb(85, 4, 35); */
}
#bthreetop{
    width: 100%;
    min-height: 20vh;
    background-color: rgb(199, 13, 6);
    padding: 20px;
    color: white;
}
#bthreetop p{
   font-size: 10px;
   margin-top: 10px;
} 
#bthreebottom{
    width: 100%;
    min-height: 20vh;
   background-image: url(https://t3.ftcdn.net/jpg/05/71/68/10/360_F_571681051_q2PKtBfQGAw9H7LTxjNBhGXv4Ql2OAWf.jpg);
   background-size: cover;
   background-position: center;
}
#bfour{
    width: 30%;
    min-height: inherit;
    background-color: #444;
    color: #fff;
}

.notf{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.notf p{
    width: 86%;
    font-size: 12px;
}

@media(max-width: 586px){
    #ovelay #text{
        flex-direction: column;
        align-items: flex-start;
    }
    #overlay #text #text-right{
        flex-direction: column;
        align-items: flex-start;
    }
    #overlay #text #text-right p{
        width: initial;
        margin-top: 20px;
    }
    #overlay #text #text-right #icons{
        margin-top: 40px;
    }
}